@import 'global.scss';

.graph {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  position: relative;

  &__container {
    margin: 0 auto;

    &::before {
      content: "※赤丸はドラッグできます";
      color:#fff;
      font-size:0.8rem;
      margin-top:-1.2rem;
      position: absolute;

      @include mq() {
        font-size:12px;
        margin-top:-15px;
      }
    }
  }

  &__gui {
    margin: 0 auto;

    // dat.guiのstyleを無理やり上書き
    @include mq('sm') {
      width:100%;
      .dg.main {
        width:100% !important;

        .close-button {
          width:100% !important;
        }
      }
    }
    
  }
}
