@import 'global.scss';

.graph {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  position: relative;
  &__container {
    margin: 0 auto;

    &::after {
      content: "赤丸はドラッグできます";
      font-size:1rem;
      margin-top:-1rem;
      position: absolute;

      @include mq() {
        font-size:12px;
        margin-top:-12px;
      }
    }
  }

  &__gui {
    margin: 0 auto;

    // dat.guiのstyleを無理やり上書き
    @include mq('sm') {
      width:100%;
      .dg.main {
        width:100% !important;

        .close-button {
          width:100% !important;
        }
      }
    }
    
  }
}
