@import 'base.scss';
@import 'wrapper.scss';
@import 'header.scss';
@import 'main.scss';
@import 'article.scss';
@import 'graph.scss';
@import 'nav.scss';


footer {
  background: #0086AB;
  line-height: 2em;
  color:white;
  text-align: center;
}
